

/* Natif Site complet */

.contenuSiteComplet{
    width: 90%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

header{
    display: flex;
    justify-content: space-between;
    margin: 5% 0 6% 0;
}

header h1{
    display: flex;
    width: 25%;
}

.logoAccueilHeader{
    width: 100%;
}

.logoAccueilHeader img{
    width: 100%;
}

/* Menu Principal */

header nav{
    width: 70%;
    top: 0;
    position: relative;
    display: flex;
    align-items: baseline;
}

.menu-menu-principal-container{
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    align-items: baseline;
}

.menu li {
    text-decoration: none;
}

#menu-item-123{
    width: 25%;
}

#menu-item-123 a {
    width: 100%;
}

.logoMenuPrincipal{
    width: 100%;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.sub-menu{
    display: none;
    padding: 0;
    list-style-type: none;
}

.open.sub-menu{
    display: block;
    position: absolute;
    z-index: 2;
}

.menu-item-has-children > a::after{
    content: " +";
}

/* Accueil */

.divImageFond{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.divImageFond img{
    height: 100%;
    position: absolute;
    contain: content;
}

.divAccueil{
    height: 85vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.boutonDon{
    border-radius: 100px;
    background-color: #9999CC;
    color: #FFFEF5;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3% 5%;
}

.objectif{
    border-radius: 10px;
    background-color: #9999CC;
    outline: none;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 30vw;
    color: #FFFEF5;
    padding: 3%;
}

.temoignage{
    border-radius: 10px;
    background-color: #9999CC;
    outline: none;
    text-align: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(-50%);
    width: 30vw;
    color: #FFFEF5;
    padding: 3%;
}

.temoignage span{
    font-style: italic;
}

/* Animation Alexandra Bouton */

.wrapper.don{
    width: 100%;
    position: relative;
    top: 0;
}

.titre.don{
    border-bottom: 3px #9999CC solid;
    font-size: 3em;
    color: #9999CC;
    margin-bottom: 5vh;
}

.contenu.don{
    height: 20vh;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 10vh;
}

.argent.don, .temps.don{
    flex-basis: 30%;
}
  
.bouton.don{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color: #9999CC;
    color: white;
    position: relative;
    outline: none;
}
  
.bouton:hover.don{
    background-color: purple;
}
  
.rond.don{
    width: 2vw;
    height: 2vw;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 15px rgba(0,0,0,0.3);
    background-color: white;
    position: absolute;
    opacity: 0;
}

/* Équipe */

.titrePage{
    border-bottom: 3px #9999CC solid;
    font-size: 3em;
    color: #9999CC;
    margin-bottom: 5vh;
}

.wrapperEquipe{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boitePerso{
    box-sizing: border-box;
    background-color: #9999CC;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 27%;
    height: 20vw;
    position: relative;
    margin-bottom: 5%;
    border-radius: 20px;
}

.boitePerso .nom, .boitePerso .poste{
    width: 100%;
    position: absolute;
}

.boitePerso .nom{
    top: 35%;
}

.boitePerso .poste{
    top: 55%;
}

/* Footer */

.footer.wrapper{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.infosLeChainon{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.lienReseauxSociaux{
    width: 75%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 5vh 0;
}

.facebook, .instagram, .twitter{
    height: 10vh;
    width: 10vh;
    background-color: #9999CC;
    border-radius: 100px;
}

.lienReseauxSociaux div img{
    height: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.twitter img{
    height: 40% !important; 
}

.ligneReseauxSociaux{
    width: 100%;
    position: absolute;
    top: 50%;
    height: 3px;
    background-color: #9999CC;
}

.piedFooter{
    display: flex;
    width: 100%;
}

.mentionsLegales{
    position: relative;
    flex-basis: calc(100% / 3);

}

.retourTop{
    position: relative;
    flex-basis: calc(100% / 3);
}

.retourTop img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Animation Logo WIlliam */

.logoBasPage{
    flex-basis: calc(100% / 3);
    position: relative;
}

path{
	stroke:black;
	stroke-width:1;
	fill-opacity:0;
}

#L{
	stroke-dasharray: 330;
	stroke-dashoffset: 330;
}

#E{
	stroke-dasharray: 530;
	stroke-dashoffset: 530;
}

#C{
	stroke-dasharray: 370;
	stroke-dashoffset: 370;
}

#H{
	stroke-dasharray: 470;
	stroke-dashoffset: 470;
}

#A{
	stroke-dasharray: 390;
	stroke-dashoffset: 390;
	stroke:#99c;
}

#I{
	stroke-dasharray: 130;
	stroke-dashoffset: 130;
}

#Nuage{
	stroke-dasharray: 190;
	stroke-dashoffset: 190;
	stroke:#99c;
}

#N{
	stroke-dasharray: 490;
	stroke-dashoffset: 490;
}

#O{
	stroke-dasharray: 290;
	stroke-dashoffset: 290;
}

#N-2{
	stroke-dasharray: 490;
	stroke-dashoffset: 490;
}