*{
	box-sizing: border-box;
	margin: 0;
}

svg{
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

path{
	stroke:black;
	stroke-width:1;
	fill-opacity:0;
}
#L{
	stroke-dasharray: 330;
	stroke-dashoffset: 330;
}
#E{
	stroke-dasharray: 530;
	stroke-dashoffset: 530;
}
#C{
	stroke-dasharray: 370;
	stroke-dashoffset: 370;
}
#H{
	stroke-dasharray: 470;
	stroke-dashoffset: 470;
}
#A{
	stroke-dasharray: 390;
	stroke-dashoffset: 390;
	stroke:#99c;
}
#I{
	stroke-dasharray: 130;
	stroke-dashoffset: 130;
}
#Nuage{
	stroke-dasharray: 190;
	stroke-dashoffset: 190;
	stroke:#99c;
}
#N{
	stroke-dasharray: 490;
	stroke-dashoffset: 490;
}
#O{
	stroke-dasharray: 290;
	stroke-dashoffset: 290;
}
#N-2{
	stroke-dasharray: 490;
	stroke-dashoffset: 490;
}